@media only screen and (max-width: 600px) {
  .textBox {
    width: 72px;
  }
  .option div {
    width: 72px;
  }
  .textBox p {
    display: none;
  }
  .option div p {
    display: none;
  }
  body {
    margin-bottom: 4.25rem;
  }
  .headline-container {
    background-image: url("./assets/img/headline-mob.png") !important;
  }
  .headline-main-container {
    max-height: 185px;
    max-width: 335px;
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-top: 23rem;
    margin-bottom: 7.875rem;
  }
  .headline-main-container h1 {
    font-family: "K2D", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 38px;
    line-height: 49px;
  }
  .headline-main-container h4 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .desc-game-container {
    padding: 0 !important;
    margin-top: -2rem;
    background-image: url(./assets/img/paper-mob.png);
  }
  .desc-game-main-container {
    padding: 6.25rem 1.125rem;
  }
  .desc-game-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #2c2c2c;
  }
  .desc-game-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #202020;
  }
  .desc-step-container {
    flex-direction: column;
  }
  .mob-card-condition {
    align-items: center !important;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .mob-condition-img {
    margin: 0.75rem 0;
    display: block;
  }
  .desc-condition-img {
    display: none !important;
  }
  .number-rounded {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .mob-document-container {
    flex-direction: column;
  }
  .document-card-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #2c2c2c;
  }
  .present-back {
    background: transparent !important;
  }
  .document-card {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .horses-back-container {
    margin: 0 0.5rem;
    background: transparent;
  }
  .people-count-container button {
    width: 50%;
  }
  .preview-container h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #2c2c2c;
  }
  .preview-container .preview-subtitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    color: #202020;
  }
  .mob-search-container {
    flex-direction: column;
  }
  .preview-search-container p {
    text-align: center;
  }
  .mob-search-container input {
    width: 100% !important;
    margin-bottom: 0.75rem;
    margin-right: 0 !important;
  }
  .button-container {
    width: 52%;
  }
  .wallet-btn span {
    display: none;
  }
    .farmimg {
      width: 31rem;
    }
  .smalltext button{
    font-size: 10px;
  }
}

@media only screen and (max-width: 538px) {
  .farmimg {
    width: 28rem;
  }
}

@media only screen and (max-width: 489px) {
  .farmimg {
    width: 26rem;
  }
}



@media only screen and (max-width: 600px) {
  .form-select {
    font-size: 12pt;
  }
  .wallet-bnb-btn p {
    font-size: 12pt;
  }
  .bonus-table {
    width: 234vw !important;
  }
  .bonus-table .wallet-th,
  .wallet-td {
    width: 50vw !important;
  }
  .table {
    width: 145vw;
  }
  .wallet-th,
  .wallet-td {
    width: 45vw;
    padding: 0 !important;
    font-size: 10pt;
  }
  .section-back-h-100 {
    height: 120vh !important;
  }
  .sidebar-container {
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: -1;
  }
  .fixed-position {
    position: fixed;
  }
  #closeBtn {
    display: none;
  }
  .navbar-close-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 24px;
    height: 18px;
    background-image: url(./assets/img/close-sidebar.png);
  }
  .notification-container {
    margin-top: 11rem !important;
  }
  .section-bg {
    background-image: url("./assets/img/section-mob-bg.png") !important;
    background-size: 100%;
    background-position: bottom;
    height: 120%;
  }
  .content-container {
    display: flex;
    justify-content: center;
    padding-left: 0;
    height: 100%;
  }
  .content-h-full {
    height: 100% !important;
  }
  .navbar-brand:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  .horse-card {
    padding: 12px;
  }
  .horse-card img {
    width: 118px;
    height: 80px;
  }
  .horse-card h1 {
    margin-left: 2rem;
  }
  .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-left: 0.4rem;
  }
  .mob-none {
    display: none;
  }
  .desk-none {
    display: block !important;
    width: 100%;
  }
  .navbar {
    padding: 1rem 0.5rem !important;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler {
    display: flex;
    border: none;
    padding: 0;
  }
  .navbar-toggler-icon {
    width: 24px;
    height: 18px;
    background-image: url("./assets/img/toggle.png");
  }
  .button-bnb-container {
    width: 67%;
  }
  .wallet-bnb-btn {
    width: 210% !important;
  }
}

@media only screen and (max-width: 600px) {
  .stat-title-container {
    margin-bottom: 0;
  }
  .profile-container {
    padding: 1rem;
  }
  .bonus-container {
    padding: 2rem 0 !important;
  }
  .overflow-table {
    overflow: auto;
  }
  .stat-title-container h1 {
    margin-bottom: 0 !important;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #2c2c2c;
    margin-right: 0 !important;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .invite-inner-container {
    padding: 1rem;
  }
  .invite-inner-container img {
    margin-bottom: 1rem;
  }
  .invite-inner-container h1 {
    margin-bottom: 1rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #3f3f3f;
  }
  .invite-inner-container h2 {
    margin-bottom: 1rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #3f3f3f;
  }
}

@media only screen and (max-width: 600px) {
  .profile-inner-container {
    flex-direction: column;
    padding: 1rem !important;
  }
  .link-profile-container {
    margin-top: 1.5rem;
    width: 100%;
  }
  .avatar-desc-container h2 {
    margin-bottom: 0.5rem;
  }
  .text-w-link a {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 600px) {
  .horses-rent-container h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #2c2c2c;
  }
  .game-container-mob {
    padding: 4rem 1rem !important;
  }
  .horses-bar-container img {
    top: -145%;
    left: 5%;
    width: 80px;
    height: 60px;
  }
  .horses-bar-container h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 0.2rem 1rem;
  }
  .game-container {
    padding: 5.5rem 0rem;
  }
  .choose-horse-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
  }
  .add-amount-wallet {
    width: 100% !important;
  }
  .mob-horse-container-choose {
    padding: 0 0.5rem;
  }
  .mob-horse-choose-container {
    text-align: center;
    flex-direction: column;
  }
  .choose-horse-container {
    column-gap: 0;
    justify-content: center;
  }
  .total-wallet {
    margin-bottom: 1.5rem;
  }
  .winner-container-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem !important;
  }
  iframe{
    width: 90%;
    height: 300px;
  }
}

@media only screen and (max-width: 460px) {
  .bonus-table {
    width: 234vw !important;
  }

  .bonus-table .wallet-th,
  .wallet-td {
    width: 50vw !important;
  }

  .table {
    width: 180vw !important;
  }

  .wallet-th,
  .wallet-td {
    width: 80vw !important;
  }

  .farmimg {
    width: 21rem;
  }

  iframe {
    width: 90%;
    height: 250px;
  }

}

@media only screen and (max-width: 389px) {
  .button-bnb-container {
    display: flex;
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
  }
    iframe {
      width: 90%;
      height: 180px;
    }

    .farmimg {
      width: 16rem;
    }
}

